<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" media="screen" />
    <title>Block Game</title>
  </head>
  <body>
    <canvas id="board" class="canvas-board"></canvas>  
    <div>
      <h4 id="score" class="score">score: 0</h4>
      <h4 id="maxScore" class="score">max score: 0</h4>
      <h4 id="totalScore" class="score">total score: 0</h4>
    </div>
    <script type="text/javascript" src="javascripts/draw.js"></script>
    <script type="text/javascript" src="javascripts/calculate.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
